#db
POSTGRES_USER=habit_user
POSTGRES_PASSWORD=habit_pass
POSTGRES_DB=habit_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

#app
DEBUG=true

#sec
SECRET_KEY=sercretkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
